# Python
__pycache__/
*.pyc
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Sensitive/Local Settings
.env
*/local_settings.py

# IDEs and Editors
.idea/
.vscode/
*.swp
*~
*.log
.DS_Store # macOS
Thumbs.db # Windows

# Other
.coverage
.eggs/
*.egg-info/
.pytest_cache/
